.navbar {
  background-color: #000000;
  padding: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-message {
  font-size: 1em; /* Zmniejszona czcionka */
  color: white;
  text-align: center;
  flex-grow: 1;
}

.welcome-message span {
  font-weight: bold; /* Pogrubienie nazwy użytkownika */
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 100%;
  padding: 8px 8px;
}

.navbar .nav-links a.active-link {
  border-bottom: 2px solid #fff;
}

.navbar .brand-logo {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.logout-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  font-size: 100%;
}

.logout-button:hover {
  background-color: #0056b3; 
}

.nav-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  align-self: center;
}
